{% extends "base.html" %}
{% block content %}
 
<form action="" method="post" role="form">
	<div class="form-group">
		<label for="TitleInput">Title</label>
    	<input type="String" class="form-control" name= "title" id="TitleInput" placeholder="Enter Title">
	</div>
	<div class="form-group">
		<label for="BodyInput">BlogPost</label>
    	<input type="String " class="form-control" name= "body" id="NameInput" placeholder="Enter Data">
	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock content %}