{% extends "base.html" %} {% block content %}
<div class="jumbotron">
<table class="table">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Created on</th>

	</tr>
	{% for blog in blogs %}
	<tr>
		<td><a href="/blogs/{{ blog.key().id() }}/posts">{{ blog.title }}</a></td>
		<td>{{ blog.author }}</a></td>
		<td>{{ blog.created_on.strftime('%Y-%m-%d') }}</td>
	</tr>
	{% else %}
	There are currently no blogs created by anyone. Please login and create a new one!
	{% endfor %}
</table>
</div>
{% endblock content %}
